<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218287290297-mdb18e82c35tlaup55cu8kd314iqn5f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218287290297-mdb18e82c35tlaup55cu8kd314iqn5f7</string>
	<key>API_KEY</key>
	<string>AIzaSyDFhMHSUga8hwAmyqzhE9_GPUITDS81gto</string>
	<key>GCM_SENDER_ID</key>
	<string>218287290297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfireSamples</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-samples-69e80</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-samples-69e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218287290297:ios:02e7a09ced965a57c16868</string>
</dict>
</plist>